version: "3.8"

services:
  express-app:
    image: expimage
    container_name: exp
  
    ports:
      - "5000:5000" 
    env_file:
      - .env 

  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-db:/data/db
    env_file:
      - .env 
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

    
volumes:
    mongo-db: